body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: tomato;
}

#header {
    background-image: url(images/donation5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#flexibale-continer-se {
    text-align: center;
    color: white;
    padding: 10%;

}

.orange-color {
    color: orange;
}

.link-button {
    text-decoration: none;
    background-color: #FF5959;
    padding: 10px 40px;
    color: white;
    border-radius: 5px;
    font-weight: 700;
    text-align: center;
    margin-left: 10px;
}

.Donate-t {
    text-align: center;
    padding: 0% 25%;
    margin-bottom: 40px;
}

.amount {
    width: 123px;
    height: 136px;
    margin: 10px;
    border: 2px solid white;
    font-size: 30px;

}

.amount-mark {
    width: 123px;
    height: 136px;
    margin: 10px;
    padding: 10px;
    border: 2px solid tomato;
    background-color: #FFEEEE;
    color: tomato;
    font-size: 30px;
}

.donate-amount {
    text-align: center;
}

.donate-number {
    width: 500px;
    border: 0;
    border-bottom: 1px solid gray;
    text-align: center;
    font-size: 20px;
}

.donate-other {
    text-align: center;
    margin: 0px 30% 40px 30%;
}

.donate-plan {
    display: flex;
    margin: 10px 50px;
    margin-bottom: 40px;
}

.donate-plan-width1 {
    width: 33%;
    background-color: #EDF5F6;
    margin: 0px 10px;
    margin: 0px 15px 5px 20px;
    padding: 0px 10px 5px 25px;
}

.donate-plan-width2 {
    width: 33%;
    margin: 0px 10px;
    background-color: #ffeeee;
    margin: 0px 15px 5px 20px;
    padding: 0px 10px 5px 25px;
}

.donate-plan-width3 {
    width: 33%;
    margin: 0px 10px;
    background-color: #FFF4D6;
    margin: 0px 15px 5px 20px;
    padding: 0px 10px 5px 25px;
}

.donate-icon-image {
    width: 40px;
    height: 40px;
    object-fit: cover;
    padding: 40px 0px 0px 20px;
}