body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

h1 {
    font-size: 50px;
}

#flexibale-continer-se {
    background-image: url(images/donation1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    margin-bottom: 100px;
    text-align: center;
    color: white;
    height: 900px;
    padding-top: 140px;
    image-resolution: auto;

}

.orange-color {
    color: orange;
}

.link-button {
    text-decoration: none;
    background-color: #FF5959;
    padding: 10px 40px;
    color: white;
    border-radius: 5px;
    font-weight: 700;
    text-align: center;
    margin-left: 10px;
}

.Donate-t {
    text-align: center;
    padding: 0% 25%;
    margin-bottom: 40px;
}

.amount {
    width: 20%;
    margin: 40px 10px;
    padding: 10px;
    border: 2px solid white;
    background-color: whitesmoke;
}

.amount-mark {
    width: 20%;
    margin: 40px 10px;
    padding: 10px;
    border: 2px solid tomato;
    background-color: #FFEEEE;
    color: tomato;
}

.donate-amount {
    display: flex;
    border-radius: 15px;
    margin-bottom: 40px;
    text-align: center;
    margin-left: 22%;
    margin-right: 22%;
}

.donate-other {
    text-align: center;
    margin: 0px 30% 40px 30%;
}

.donate-plan {
    display: flex;
    margin: 10px 50px;
    margin-bottom: 40px;
}

.donate-plan-width1 {
    width: 33%;
    background-color: #EDF5F6;
    margin: 0px 10px;
    margin: 0px 15px 5px 20px;
    padding: 0px 10px 5px 25px;
}

.donate-plan-width2 {
    width: 33%;
    margin: 0px 10px;
    background-color: #ffeeee;
    margin: 0px 15px 5px 20px;
    padding: 0px 10px 5px 25px;
}

.donate-plan-width3 {
    width: 33%;
    margin: 0px 10px;
    background-color: #fff36d;
    margin: 0px 15px 5px 20px;
    padding: 0px 10px 5px 25px;
}

.donate-icon-image {
    width: 40px;
    height: 40px;
    object-fit: cover;
    padding: 40px 0px 0px 20px;
}